

.road {
    background-image: url('../img/Ground.png');
    
}

.wall {
    
    background-image: url('/Static/img/Wall.png');
}

.water {
    
    background-image: url('../img/Ocean.png');
}

.bush {
    background-image: url('../img/Bush.png');
}

.bridgeWE {
    background-image: url('../img/BridgeWestEast.png');
}

.bridgeNS {
    background-image: url('../img/BridgeNorthSouth.png');
}

.bridgeN {
    background-image: url('../img/BridgeNorth.png');
}

.bridgeS {
    background-image: url('../img/BridgeSouth.png');
}

.square {
    position:absolute;
}

.tank{
    position:absolute;
}