body {
}



.road {
    background-color: gray;
    height: 60px;
    width: 60px;
}

.wall {
    height: 60px;
    width: 60px;
    background: repeating-linear-gradient(black, gray 10%, brown 20%);
}

.water {
    height: 60px;
    width: 60px;
    background: linear-gradient(blue, aqua, blue)
}

